body {
    color: darkviolet;
    background-color: rgb(0, 0, 0);
    border: 4px;
    
}
h1 {font: size 8px;
    color: rgb(27, 245, 8) ;}

a {color: rgb(81, 255, 0);}
button {
    background-color: black;
    color: white;
    border: solid 2px;
    border-color: darkviolet;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 16px;
}
input {
    color: white;
    background-color: darkviolet
    ;}

img {border: solid 5px;
}

p {border: solid 5px;
    border-color: blueviolet;
    color: white;   
}
li {border: solid 1px;
    border-color: rgb(143, 44, 235);
    color: white;   
}
ul {border: solid 5px;
    border-color: rgb(250, 249, 250);
    color: white;   
}